@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
$DarkBlue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$VeryDarkBlue: hsl(207, 26%, 17%); //(Dark Mode Background)
$VeryDark: hsl(200, 15%, 8%); //(Light Mode Text)
$DarkGray: hsl(0, 0%, 52%); //(Light Mode Input)
$VeryLightGray: hsl(0, 0%, 98%); // (Light Mode Background)
$White: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)
$shadow: 0px 0px 1px 0.2px;
@mixin theme($bg, $element, $text, $shadowColor) {
  background: $bg;
  color: $text;

  .navbar {
    background-color: $element;
    box-shadow: $shadow $shadowColor;
  }
  a:-webkit-any-link {
    color: $text;
  }
  .details {
    .borders span,
    .back {
      background-color: $element;
    }
    .borders span {
      box-shadow: 0px 0px 3px 0.1px $shadowColor;
    }
    .back {
      box-shadow: 0px 0px 6px 0.2px $shadowColor;
    }
  }
  .home {
    form {
      .input-img {
        box-shadow: $shadow $shadowColor;
        input {
          background-color: $element;
          color: $text;
        }
        background-color: $element;
      }
      .select {
        box-shadow: $shadow $shadowColor;
        background-color: $element;
        select {
          background-color: $element;
          color: $text;
        }
      }
    }
    .all-flags {
      .a-flag {
        background-color: $element;
        box-shadow: $shadow $shadowColor;
      }
    }
  }
}
.dark {
  @include theme($VeryDarkBlue, $DarkBlue, $White, $VeryDark);
}
.light {
  @include theme($VeryLightGray, $White, $VeryDark, $DarkGray);
}
.app {
  font-family: "Nunito Sans", sans-serif;
  position: fixed;
  overflow: auto;
}
.navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
  .donde {
    font-weight: 600;
  }
  img {
    width: 20px;
    padding: 0 13px 0 1px;
    position: relative;
    top: 4px;
  }
}
.details {
  font-size: 16px;
  padding: 0 25px 25px;
  font-weight: 300;
  .back {
    width: 150px;
    height: 40px;
    margin: 35px 0 45px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      margin-top: 4.5px;
      margin-right: 1px;
      img {
        transform: rotate(180deg); //scale(0.15);
        width: 20.4px;
        height: 19.2px;
      }
    }
    img,
    span {
      padding: 0 4px;
    }
  }
  .content {
    margin: 35px 0 45px 20px;
    display: flex;
    .flag {
      img {
        width: 400px;
        margin-right: 100px;
      }
    }
    .moreContent {
      ul span,
      .border-title {
        font-weight: 600;
        text-transform: capitalize;
      }
      .name {
        font-weight: 800;
        font-size: 30px;
      }
      .lists {
        display: flex;
        justify-content: space-between;
        line-height: 1.8;
        padding: 15px 0 45px;
        ul {
          list-style-type: none;
          padding-inline-start: 0;
          padding-right: 20px;
        }
      }
      .border {
        display: flex;
        align-items: baseline;
        border: 0;
        .border-title {
          white-space: nowrap;
        }
        .borders {
          display: flex;
          flex-wrap: wrap;
          span {
            min-width: 100px;
            margin: 0 10px 15px;
            padding: 7px 12px;
            text-align: center;
          }
        }
      }
    }
  }
}
/*.details, .content, .moreContent, .border{
    width: 100%;
}*/
a:-webkit-any-link,
a {
  text-decoration: none;
}
.mode-box:hover,
.select:hover,
.border div:hover {
  cursor: pointer;
}
.home {
  font-size: 14px;
  form {
    display: flex;
    justify-content: space-between;
    padding: 35px 25px 45px;
    input,
    select {
      outline: 0;
    }
    .select {
      padding: 0 6px;
      border-radius: 4px;
      width: max-content;
      select {
        width: 130px;
        border: 0;
        padding: 12px 7px;
        height: 46px;
      }
    }
    .input-img {
      height: 46px;
      width: 300px;
      // padding: 12px 7px;
      display: flex;
      border-radius: 4px; /*
      img {
        width: 22px;
        //transform: scale(0.9);
        padding: 0 10px;
      }*/
      .img-box {
        padding: 10px;
        display: flex;
      }
      input {
        // padding-left: 10px;
        border: 0;
        // height: 20px;
      }
    }
  }
  margin: 0 25px;
  .all-flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .a-flag {
      margin: 0 20px 45px;
      width: 280px;
      height: 370px;
      border-radius: 7px;
      .flag-box {
        height: 170px;
        width: 100%;
        img {
          width: -webkit-fill-available;
          height: 100%;
          object-fit: fill;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
        }
      }
      .text {
        padding: 0 20px;
        font-weight: 300;
        span {
          text-transform: capitalize;
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (max-width: 1032px) {
  .details {
    .content {
      display: block;
      padding: 0 30px;
      .flag {
        text-align: center;
        img {
          margin: 25px 0 45px;
          padding: 0;
          width: -webkit-fill-available;
        }
      }
      .moreContent {
        .lists {
          display: block;
          ul {
            margin: 25px 0 0;
          }
        }
      }
    }
  }
  .back,
  .content {
    margin: 35px 30px 45px 30px !important;
    padding: 0 !important;
  }
}
@media screen and (max-width: 686px) {
  form {
    display: block !important;
    padding: 35px 25px 45px;
    .input-img {
      width: 100% !important;
      margin-bottom: 25px;
    }
  }
  .navbar {
    div {
      font-size: 14px;
    }
  }
  .back {
    display: none !important;
  }
  .content {
    margin-top: 40px !important;
  }

  .home {
    .all-flags {
      .a-flag {
        width: 240px;
        margin: 0 7px 45px;
      }
    }
  }
}
